{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}

<h1>Kanban board</h1>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Task</th>
        <th>Description</th>
        <th>Assignee</th>
        <th>Estimated time consumption</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      {% for task in data['tasks'] %}
            <tr>
                <td>{{ task['Task'] }}</td>
                <td>{{ task['Description'] }}</td>
                <td>{{ task['Assignee'] }}</td>
                <td>{{ task['Estimated-time-consumption'] }}</td>
                <td><input type="checkbox"></td>
            </tr>
            {% endfor %} 
            {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
