{% extends "base.html" %} {% block title %} Progress {% endblock %} {% block
content %}
<style>
  .img-container {
    text-align: center;
  }

  .img-rounded {
    margin-top: 5%;
    margin-left: 40%;
    width: 20%;
    height: auto;
  }
</style>
<div class="progress" style="margin-top: 20px">
  <div
    class="progress-bar progress-bar-info"
    role="progressbar"
    aria-valuenow="{{percentage}}"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: {{percentage}}%"
  ></div>
</div>

<div class="image-container">
  <img
  src="{{ url_for('static', filename='pics/' + closest_percentage + '.png') }}"
  class="img-rounded"
  />
  <h1>You're doing great!</h1>
</div>

{% endblock %}

<!-- the error doesn't matter since it works c: -->
<!-- USE THE MARGIN INSTEAD OF PADDING-TOP!!! -->
